In [1]:
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [16]:
X_train=pd.read_csv('./spaceship-titanic/train.csv')
X_test=pd.read_csv('./spaceship-titanic/test.csv')
submission=pd.read_csv('./spaceship-titanic/sample_submission.csv')

In [17]:
X_train.shape, X_test.shape, submission.shape

((8693, 14), (4277, 13), (4277, 2))

In [18]:
X_train.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [19]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [20]:
X_train.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [21]:
X_train.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [29]:
for i in X_train.columns :
    print(i)
    print(X_train[i].nunique())
    print('-----------')
# 1,2,4,6, -1 은 원핫 인코딩

PassengerId
8693
-----------
HomePlanet
3
-----------
CryoSleep
2
-----------
Cabin
6560
-----------
Destination
3
-----------
Age
80
-----------
VIP
2
-----------
RoomService
1273
-----------
FoodCourt
1507
-----------
ShoppingMall
1115
-----------
Spa
1327
-----------
VRDeck
1306
-----------
Name
8473
-----------
Transported
2
-----------

In [31]:
X_train.

PassengerId  HomePlanet  CryoSleep  Cabin     Destination    Age   VIP    RoomService  FoodCourt  ShoppingMall  Spa    VRDeck  Name               Transported
0001_01      Europa      False      B/0/P     TRAPPIST-1e    39.0  False  0.0          0.0        0.0           0.0    0.0     Maham Ofracculy    False          1
6162_01      Earth       False      F/1181/S  55 Cancri e    22.0  False  0.0          0.0        1.0           575.0  0.0     Bonyan Hineyley    False          1
6175_01      Earth       False      G/1000/P  TRAPPIST-1e    18.0  False  628.0        0.0        0.0           31.0   150.0   Thel Pittler       False          1
6174_02      Earth       True       G/999/P   PSO J318.5-22  4.0   False  0.0          0.0        0.0           0.0    0.0     Cherry Fisheparks  True           1
6174_01      Earth       False      F/1274/P  55 Cancri e    24.0  False  0.0          479.0      116.0         1.0    37.0    Jord Mcbriddley    False          1
                                                                                                                                                                ..
3195_02      Earth       False      G/505/S   PSO J318.5-22  60.0  False  0.0          31.0       6.0           223.0  356.0   Fredy Litthews     False          1
3195_01      Earth       False      G/505/S   TRAPPIST-1e    1.0   False  0.0          0.0        0.0           0.0    0.0     Rald Litthews      False          1
3191_01      Mars        True       F/603/S   TRAPPIST-1e    68.0  False  0.0          0.0        0.0           0.0    0.0     Fex Sin            True           1
3189_01      Mars        True       D/102/P   55 Cancri e    40.0  False  0.0          0.0        0.0           0.0    0.0     Weers Che          True           1
9280_02      Europa      False      E/608/S   TRAPPIST-1e    44.0  False  126.0        4688.0     0.0           0.0    12.0    Propsh Hontichre   True           1
Length: 6606, dtype: int64

#